/* CSS declarations go here */
* {
  font-family:'brandon-grotesque';
}
body {
  background-image:url('backgrounds/yosemite-waterfall.jpg');
  background-size:100%;
}
img {
  width:70px;
}
h1 {
  font-size:100px;
  text-align: center;
  color:#fff;
}
h3 {
  font-size:30px;
  text-align: center;
  color:#fff;
}
